<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7pAZBFBQ3XDlgp3PTRIQ-VvHyIKOXZgk</string>
	<key>GCM_SENDER_ID</key>
	<string>505152428698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gasAgencyIos</string>
	<key>PROJECT_ID</key>
	<string>gas-agency-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gas-agency-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505152428698:ios:ce6515fb567e67a8b95d23</string>
</dict>
</plist>